@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glitch-text {
    position: relative;
    @apply text-zinc-100;
    @apply font-bold;
    /* color: rgba(0, 0, 0, 0); */
    /* text-shadow: -10px 10px 0px theme("colors.akblue.500"),
      10px -10px 0px theme("colors.akred.500"); */
    animation: text-glitch 1.5s infinite alternate step-end;
  }
  .glitch-text::before,
  .glitch-text::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
  }

  .glitch-text::before {
    left: 5px;
    text-shadow: -5px 5px theme("colors.akred.500");
    animation: text-glitch-before 0.9s infinite linear alternate-reverse;
  }
  .glitch-text::after {
    left: -5px;
    text-shadow: -5px 5px theme("colors.akblue.500");
    animation: text-glitch-after 1.3s infinite linear alternate-reverse;
  }

  @keyframes text-glitch {
    21% {
      transform: scaleX(0.93);
    }

    26% {
      transform: skewX(-16deg);
    }

    35% {
      transform: scaleX(1.09);
    }

    39% {
      transform: skewX(0);
    }

    41% {
      transform: scaleX(1);
    }
  }

  @keyframes text-glitch-before {
    0% {
      clip: rect(192px, 980px, 191px, 0);
    }

    10% {
      clip: rect(91px, 980px, 263px, 0);
    }

    20% {
      clip: rect(116px, 980px, 64px, 0);
    }

    30% {
      clip: rect(226px, 980px, 110px, 0);
    }

    40% {
      clip: rect(265px, 980px, 51px, 0);
    }

    50% {
      clip: rect(109px, 980px, 238px, 0);
    }

    60% {
      clip: rect(28px, 980px, 153px, 0);
    }

    70% {
      clip: rect(191px, 980px, 141px, 0);
    }

    80% {
      clip: rect(15px, 980px, 67px, 0);
    }

    90% {
      clip: rect(99px, 980px, 261px, 0);
    }

    100% {
      clip: rect(255px, 980px, 80px, 0);
    }
  }

  @keyframes text-glitch-after {
    0% {
      clip: rect(204px, 980px, 37px, 0);
    }

    10% {
      clip: rect(70px, 980px, 256px, 0);
    }

    20% {
      clip: rect(40px, 980px, 127px, 0);
    }

    30% {
      clip: rect(256px, 980px, 182px, 0);
    }

    40% {
      clip: rect(253px, 980px, 8px, 0);
    }

    50% {
      clip: rect(16px, 980px, 255px, 0);
    }

    60% {
      clip: rect(139px, 980px, 24px, 0);
    }

    70% {
      clip: rect(222px, 980px, 145px, 0);
    }

    80% {
      clip: rect(24px, 980px, 255px, 0);
    }

    90% {
      clip: rect(27px, 980px, 177px, 0);
    }

    100% {
      clip: rect(11px, 980px, 8px, 0);
    }
  }

  .button {
    position: relative;
    background-color: theme("colors.yellow.500");
    border-radius: theme("borderRadius.lg");
    overflow: hidden;
    user-select: none;
  }
  .button:active {
    background-color: theme("colors.yellow.600");
  }
  .button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 6px solid theme("colors.yellow.200");
    border-left: 6px solid theme("colors.yellow.200");
    border-right: 6px solid theme("colors.yellow.900");
    border-bottom: 6px solid theme("colors.yellow.900");
  }
  .button:active::before {
    border-top: 6px solid theme("colors.yellow.900");
    border-left: 6px solid theme("colors.yellow.900");
    border-right: 6px solid theme("colors.yellow.900");
    border-bottom: 6px solid theme("colors.yellow.900");
    border: none;
  }
  .button:active::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 65%;
    transform: translate(-50%, -50%);
    border: 1px dashed #000000;
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .body-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      theme("colors.cyan.500") 50%,
      theme("colors.pink.500") 50%
    );
    background-size: 100% 100px;
    transform: rotate(45deg) scale(2);
  }

  .main-wrapper {
    /* w-full h-full relative bg-gray-800 flex-1 rounded-lg border-t-8 border-t-gray-400 border-l-8 border-l-gray-400 border-r-8 border-r-gray-900 border-b-8 border-b-gray-900 */
    /* w-full h-full relative bg-gray-800 flex-1 rounded-lg border-t-8 border-t-gray-400 border-l-8 border-l-gray-400 border-r-8 border-r-gray-900 border-b-8 border-b-gray-900 */
    @apply relative;
    @apply w-full;
    @apply h-full;
    /* @apply rounded-3xl; */
    @apply flex-1;
    @apply bg-gray-800;
    @apply p-3;
    overflow: hidden;
    /* border-top: 16px solid theme("colors.gray.400");
    border-left: 16px solid theme("colors.gray.400");
    border-right: 16px solid theme("colors.gray.900");
    border-bottom: 16px solid theme("colors.gray.900"); */
  }
  .gradient-underline-text {
    display: inline-block;
    position: relative;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
  }
  .gradient-underline-text::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 100%;
    width: calc(100% + 4px);
    height: 40%;
    transform: translateX(-50%);

    background: linear-gradient(
      to right,
      theme("colors.akblue.500") 0%,
      theme("colors.akred.500") 100%
    );
  }
}
